/src/karereDbSchema.cpp
*.user
deps/
build/
.DS_Store
deps/
build/
/third-party/mega
/contrib/cmake/.idea
/contrib/cmake/cmake-build-*
build-MEGAchat-Desktop-*
build-cmake-Desktop-*
.clang-format
/CMakeUserPresets.json
