[submodule "third-party/libws"]
	path = third-party/libws
	url = https://github.com/alxvasilev/libws.git
[submodule "third-party/strophe-native"]
	path = third-party/strophe-native
	url = git@code.developers.mega.co.nz:messenger/strophe-native.git

[submodule "third-party/libevent"]
	path = third-party/libevent
	url = https://github.com/libevent/libevent.git
[submodule "third-party/mpenc_cpp"]
	path = third-party/mpenc_cpp
	url = git@code.developers.mega.co.nz:messenger/mpenc_cpp.git
	branch = karere-compat
[submodule "third-party/strongvelope_cpp"]
	path = third-party/strongvelope_cpp
	url = git@code.developers.mega.co.nz:messenger/strongvelope_cpp.git
