[submodule "third-party/libws"]
	path = third-party/libws
	url = git@github.com:meganz/libws.git
[submodule "third-party/libevent"]
	path = third-party/libevent
	url = git@github.com:meganz/libevent.git

